body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: absolute;
  background-color: #fff;
  z-index: 2000;
  font-size: 18px;
  border: 1px solid black;
  padding: 10px;
  left: 45%;
  top: 1%;
}

td {
  min-width: 50px;
  padding: 5px;
}

.mon-color {
  background-color: #B5121E
}

.tue-color {
  background-color: #4DB93C
}

.wed-color {
  background-color: #E08248
}

.thu-color {
  background-color: #0C7860
}

.fri-color {
  background-color: #DA4651
}

.sat-color {
  background-color: #A3DF9A
}

.sun-color {
  background-color: #BA5212
}
